body {
	// width : 100%;
	-webkit-font-smoothing: antialiased;
}

/********HOME TEMPLATE*******/
.header h1{
	a{
		text-decoration : none;
		color : $textColor;
		&:hover, &:visited {
			color : $textColor;
			text-decoration : none;
		}
	}
}
.footer{
	color : $textColor;
	p {
		font-style : oblique;
	}
}

/********HOME PARTIAL*******/
.welcome{
	font-size : 4.5em;
	letter-spacing : 0.07em;
	color : $textColor;
	@include proximaNovaBold();
	// @include SegoeUIBold();
}
.cta_text{
	font-size : 2em;
	color : $textColor;
	// @include SegoeUISemiBold();
}
.cta{
	border : none;
	outline : 2px solid white;
	background : none;
	font-size : 2.5em;
	transition : all 0.5s ease;
	&:hover{
		background : rgba(44,45,82,0.5);
	}
	a{
		// @include proximaNovaRegular();
		text-decoration : none;
		color : $textColor;
		// letter-spacing: .05em;
		&:hover, &:visited {
			color : $textColor;
			text-decoration : none;
		}
	}
}

/********EVENTS PARTIAL*******/
.events_wrapper{
	background : #AEB7E0;
	@include SegoeUIRegular();
	h3{
		color: $textColor;
		@include SegoeUISemiBold();
	}
	.comments{
		background: #f5f5f5;
		border-radius : 10px; 
		li{
			list-style-type : none;
		}
	}
	.user_name_msg{
		@include SegoeUISemiBold();
	}
	.msg_body{
		@include SegoeUIRegularBolder();
	}
	span.date_time{
		font-size: 0.8em;
		color: #8E8A8A;
		font-weight: 550;
		line-height: 25px;
	}
	textarea#event_textarea{
		border:none;
		border-radius: 10px;
		padding: 12px;
	}
	.panel-heading{
		h4 a{
			text-decoration: none;
		}
		h2{
			@include SegoeUIBold();
			font-size: 3em;
			text-transform: uppercase;
			color: $textColor;
		}
	}
	.event_title{
		@include SegoeUIBold();
		text-transform: uppercase;
	}
	.event_info{
		font-size : 2em;
	}
}

/********USERS PARTIAL*******/
.row.user_header{
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 40px;
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	.personal_info{
		color: $textColor;
		padding-top: 80px;
		div{
			float: left;
			padding-left: 10px;
			padding-top: 30px;
			position: relative;
			p{
				// position: absolute;
				// bottom :0;
				font-size: 20px;
				margin-bottom: 10px;
			}	
		}
	}
	img{
		width: 130px;
		border: 5px solid $textColor;
		border-radius: 5px;
		float: left;
	}
}
.user_profile_info{
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    background: cover;
    padding-right: 0;
    padding-left: 0px;
    i{
    	color: $textColor;
    	// background: blue;
    }
}
.user_info_texts{
	padding-left: 35px;
	margin-right:0;
	// padding-right: 20px;
}
.social_icons{
	padding-top: 228px;
	padding-left:234px;
	p{
		float: left;
		margin-right: 20px;
		i{
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}
		// @include transition(all 0.3s ease);
		
	}
	i.facebook:hover{
		color: #3b5998;
	}
	i.twitter:hover{
		color: #4099FF;
	}
	i.linkedin:hover{
		color: #007bb6;
	}
	i.envelope:hover{
		color: #0072b1;
	}
}



















