body {
	// width : 100%;
	-webkit-font-smoothing: antialiased;
}

/********HOME PARTIAL*******/
.header h1{
	a{
		text-decoration : none;
		color : $textColor;
		&:hover, &:visited {
			color : $textColor;
			text-decoration : none;
		}
	}
}
.footer{
	color : $textColor;
	p {
		font-style : oblique;
	}
}
.welcome{
	font-size : 4.5em;
	letter-spacing : 0.07em;
	color : $textColor;
	@include proximaNovaBold();
	// @include SegoeUIBold();
}
.cta_text{
	font-size : 2em;
	color : $textColor;
}
.cta{
	border : none;
	outline : 2px solid white;
	background : none;
	font-size : 2.5em;
	@include transition();
	&:hover{
		background : rgba(44,45,82,0.5);
	}
	a{
		// @include proximaNovaRegular();
		text-decoration : none;
		color : $textColor;
		// letter-spacing: .05em;
		&:hover, &:visited {
			color : $textColor;
			text-decoration : none;
		}
	}
}

/********EVENTS PARTIAL*******/
.events_wrapper{
	background : #AEB7E0;
	@include SegoeUIRegular();
	header{
			div{
				p{
					@include SegoeUIBold();
					color: $textColor;
				}
				&:nth-child(1){
					p{
						font-size: 1em;	
						// text-align: center;
					}
				}
				&:nth-child(2){
					p{
						&:nth-child(1){
							font-size: 4em;	
							text-align: center;
						}
						&:nth-child(2){
							font-size: 1.8em;
							text-align: center;
							@include SegoeUIRegular();
						}	
					}
				}
			}	
			.profile_icon span i{
				color: $textColor;
				@include transition;
				cursor: pointer;
				&:hover{
					color: #AEB7E0;
				}
			}
			i.fa-plus{
				@include transition;
				cursor: pointer;
				&:hover{
					color: #AEB7E0;
				}
			}
		}
		.add_event_link{
			background: #AEB7E0;
			cursor: pointer;
			@include transition;
			&:hover{
				background: #8B92B2;
			}
			p{
				color: $textColor;
				text-transform: uppercase;
			}
		}
	h3{
		color: $textColor;
		@include SegoeUISemiBold();
	}
	.create_event{
		cursor: pointer;
		color: $textColor;
		font-size: 1.5em;
		text-align: center;
	}
	.quote{
		div{
			// background: #7467E8;
			p{
				color: $textColor;
				font-size: 3em;
				text-transform: uppercase;
				line-height: 45px;
				letter-spacing: 1.5px;
			}
		}
	}
	.form_events_wrapper{
		background: rgba(133, 149, 219, 0.95);
		border-radius: 10px;
		box-shadow: 0px 0px 20px black;
		p{
			text-align: right;
			i{
				color: $textColor;
				cursor: pointer;
			}
		}
	}
	.comments{
		background: #f5f5f5;
		border-radius : 10px; 
		li{
			list-style-type : none;
		}	
	}
	.user_name_msg{
		@include SegoeUISemiBold();
	}
	.msg_body{
		@include SegoeUIRegularBolder();
	}
	span.date_time{
		font-size: 0.8em;
		color: #8E8A8A;
		font-weight: 550;
		line-height: 25px;
	}
	textarea#event_textarea{
		border:none;
		border-radius: 10px;
		padding: 12px;
	}
	.panel-heading{
		h4 a{
			text-decoration: none;
		}
		h2{
			@include SegoeUIBold();
			font-size: 3em;
			text-transform: uppercase;
			color: $textColor;
		}
	}
	.event_title{
		@include SegoeUIBold();
		text-transform: uppercase;
	}
	.event_info{
		font-size : 2em;
	}
}

/********USER PARTIAL*******/
.user_profile{
	background : #AEB7E0;
	.logo{
		@include transition;
		&:hover{
			color: #AEB7E0;
		}
	}
	.row.user_header{
		.personal_info{
			color: $textColor;
		}
		img.profile_picture{
			border: 5px solid $textColor;
			border-radius: 5px;
		}
		.edit{
			p{
				padding-top: 5px;
			}
		}
		.comments_made{
			p.comment_paragraphs{
				@include SegoeUIBold();
				letter-spacing: 1.3px;
				font-size: 1.3em;
				color: white; 
			}
		}
	}
	.user_profile_info{
	    i{
	    	color: $textColor;
	    }
	}
	.social_icons{
		p{
			i{
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				transition: all 0.3s ease;
			}
		}
		i.facebook:hover{
			color: #3b5998;
		}
		i.twitter:hover{
			color: #4099FF;
		}
		i.linkedin:hover{
			color: #007bb6;
		}
		i.envelope:hover{
			color: #0072b1;
		}
	}
	p.events_link{
		@include transition;
		@include SegoeUIBold();
		cursor: pointer;
		a{
			text-decoration: none;
			color: $textColor;
		}
	}
	.events_link:hover{
		background: rgba(174, 183, 224, 0.7);
	}
	p.close_form{
		color: #000;
		cursor: pointer;
	}
	.edit_profile{
		background: rgba(133, 149, 219, 0.9);
		border-radius: 10px;
		box-shadow: 0px 0px 20px black;
	}
	.comments_notice{
		p{
			&:nth-child(1){
				font-size: 1.7em;
			}
			&:nth-child(2){
				font-size: 1.2em;
			}
		}	
	}
	.user_info_texts{
		background : #AEB7E0;
	}

	.user_profile + footer{
		background : #AEB7E0;
		p{
			color: black;
		}
	}
}


/********DETAILS PARTIAL*******/
.event_details_wrapper{
	background : #AEB7E0;
	.event_details{
		h1{
			text-transform: uppercase;
		}
		p{
			font-size: 1.8em;
			span{
					text-transform: uppercase;
					font-size: 1.1em;
				}
		}
	}
}
.event_details_wrapper + footer{
	background : #AEB7E0; 
}

