/**********COLORS**********/
body {
  -webkit-font-smoothing: antialiased;
}

/********HOME TEMPLATE*******/
.header h1 a {
  text-decoration: none;
  color: #ffffff;
}
.header h1 a:hover, .header h1 a:visited {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  color: #ffffff;
}
.footer p {
  font-style: oblique;
}

/********HOME PARTIAL*******/
.welcome {
  font-size: 4.5em;
  letter-spacing: 0.07em;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.cta_text {
  font-size: 2em;
  color: #ffffff;
}

.cta {
  border: none;
  outline: 2px solid white;
  background: none;
  font-size: 2.5em;
  transition: all 0.5s ease;
}
.cta:hover {
  background: rgba(44, 45, 82, 0.5);
}
.cta a {
  text-decoration: none;
  color: #ffffff;
}
.cta a:hover, .cta a:visited {
  color: #ffffff;
  text-decoration: none;
}

/********EVENTS PARTIAL*******/
.events_wrapper {
  background: #AEB7E0;
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 400;
}
.events_wrapper h3 {
  color: #ffffff;
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 600;
}
.events_wrapper .comments {
  background: #f5f5f5;
  border-radius: 10px;
}
.events_wrapper .comments li {
  list-style-type: none;
}
.events_wrapper .user_name_msg {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 600;
}
.events_wrapper .msg_body {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 500;
}
.events_wrapper span.date_time {
  font-size: 0.8em;
  color: #8E8A8A;
  font-weight: 550;
  line-height: 25px;
}
.events_wrapper textarea#event_textarea {
  border: none;
  border-radius: 10px;
  padding: 12px;
}
.events_wrapper .panel-heading h4 a {
  text-decoration: none;
}
.events_wrapper .panel-heading h2 {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  color: #ffffff;
}
.events_wrapper .event_title {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.events_wrapper .event_info {
  font-size: 2em;
}

/********USERS PARTIAL*******/
.row.user_header {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 40px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.row.user_header .personal_info {
  color: #ffffff;
  padding-top: 80px;
}
.row.user_header .personal_info div {
  float: left;
  padding-left: 10px;
  padding-top: 30px;
  position: relative;
}
.row.user_header .personal_info div p {
  font-size: 20px;
  margin-bottom: 10px;
}
.row.user_header img {
  width: 130px;
  border: 5px solid #ffffff;
  border-radius: 5px;
  float: left;
}

.user_profile_info {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  background: cover;
  padding-right: 0;
  padding-left: 0px;
}
.user_profile_info i {
  color: #ffffff;
}

.user_info_texts {
  padding-left: 35px;
  margin-right: 0;
}

.social_icons {
  padding-top: 228px;
  padding-left: 234px;
}
.social_icons p {
  float: left;
  margin-right: 20px;
}
.social_icons p i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.social_icons i.facebook:hover {
  color: #3b5998;
}
.social_icons i.twitter:hover {
  color: #4099FF;
}
.social_icons i.linkedin:hover {
  color: #007bb6;
}
.social_icons i.envelope:hover {
  color: #0072b1;
}

/********GLOBAL*******/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/********HOME TEMPLATE*******/
.home_wrapper {
  height: 100%;
  position: relative;
}

.header {
  margin-top: 0;
  padding: 15px 20px;
}

.header h1 {
  margin: 15px 0 0;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0px;
  padding: 15px;
}
.footer p {
  text-align: center;
  margin-bottom: 0px;
}

.welcome {
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center;
}

.cta_text {
  margin-bottom: 9.5%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.cta {
  padding: 20px 80px;
}

@media screen and (max-width: 1024px) {
  .welcome {
    margin-top: 15%;
  }
}
@media screen and (max-width: 800px) {
  .welcome {
    margin-top: 10%;
  }

  .cta_text {
    margin-bottom: 12%;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 3.8em;
  }

  .cta_text {
    margin-bottom: 30%;
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  .welcome {
    font-size: 50px;
  }

  .cta_text {
    margin-bottom: 25%;
    margin-top: 15%;
    font-size: 1.9em;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .header h1 {
    font-size: 30px;
  }

  .welcome {
    margin-top: 7%;
    margin-bottom: 5%;
    font-size: 30px;
  }

  .cta_text {
    margin-bottom: 5.5%;
    margin-top: 5%;
    font-size: 1.2em;
  }

  .cta {
    font-size: 1.8em;
    padding: 10px 50px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .header h1 {
    font-size: 30px;
  }

  .welcome {
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 30px;
  }

  .cta_text {
    margin-bottom: 20%;
    margin-top: 10%;
    font-size: 1.2em;
  }

  .cta {
    font-size: 1.8em;
    padding: 10px 50px;
  }
}
.events_wrapper {
  padding-bottom: 50px;
}
.events_wrapper header {
  padding: 12%;
}
.events_wrapper header p {
  text-align: center;
  color: #ffffff;
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
}
.events_wrapper header p:nth-child(1) {
  font-size: 4em;
}
.events_wrapper header p:nth-child(2) {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
}
.events_wrapper .events {
  width: 100%;
  padding: 20px 0;
}
.events_wrapper .events .events_form {
  width: 500px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 510px) {
  .events_wrapper .events .events_form {
    width: 100%;
  }
}
.events_wrapper .events .events_form textarea#event_textarea {
  width: 100%;
  height: 200px;
  max-width: 460px;
  max-height: 250px;
  margin-bottom: 20px;
}
.events_wrapper .events .events_form select {
  width: 100%;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  cursor: pointer;
}
.events_wrapper .events .events_form input.add_event {
  width: 100%;
  margin-bottom: 20px;
}
.events_wrapper .events .event_day {
  margin-bottom: 20px;
}
.events_wrapper .events .event_day .panel-heading {
  padding: 0;
  margin: 0;
}
.events_wrapper .events .event_day .panel-heading h2 {
  text-align: center;
}
.events_wrapper .events .event_day .accordion_open {
  padding: 10px;
}
.events_wrapper .events .event_day .panel-collapse.collapsing {
  padding: 0px;
}
.events_wrapper .events .event_day .panel-collapse.collapsing .panel-body {
  border-top: none;
  padding: 20px;
}
.events_wrapper .events .event_day .panel-collapse.collapse.in {
  padding: 0px;
}
.events_wrapper .events .event_day .panel-collapse.collapse.in .panel-body {
  border-top: none;
  padding: 20px;
}
.events_wrapper .events .event_day div {
  padding: 80px 0px;
}
.events_wrapper .events .event_day .event_title {
  float: right;
}
.events_wrapper .events .event_day .events_list {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.events_wrapper h3 {
  margin-left: 17.5%;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.events_wrapper .comments {
  width: 80%;
  height: 500px;
  overflow: scroll;
  padding: 17px 17px 0px;
  margin: 10px auto 20px;
}
.events_wrapper .comments .user_comment {
  margin-bottom: 10px;
  padding: 25px 15px 25px 0px;
  border-radius: 5px;
}
.events_wrapper .comments ul {
  padding-left: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}
.events_wrapper .comments li {
  margin-bottom: 13px;
}
.events_wrapper .comments li .msg_body {
  width: 90%;
  float: left;
}
.events_wrapper .comments #message_input {
  height: 45px;
  display: inline-block;
  width: 88%;
  margin-left: 3px;
}
.events_wrapper .comments .user_name_msg {
  margin-bottom: 2px;
}
.events_wrapper .comments .date_time {
  margin-left: 15px;
}
.events_wrapper .comments .fb_image {
  width: 45px;
  float: left;
  margin-right: 10px;
}

@font-face {
  font-family: 'SegoeUILight';
  src: url("http://static.squarespace.com/static/50abaaf7e4b09a617638422b/t/50d21b81e4b08b028a4868cf/1355946881950/segoe-ui-light.eot?#iefix") format("embedded-opentype"), url("http://static.squarespace.com/static/50abaaf7e4b09a617638422b/t/50d21b86e4b05f4ba8bed41f/1355946886233/segoe-ui-light.ttf") format("truetype");
}
.animate.ng-enter {
  -webkit-transition: 0.5s linear all;
  /* Chrome */
  transition: 0.5s linear all;
  opacity: 0;
}

.animate.ng-enter.animate.ng-enter-active {
  opacity: 1;
}

.reveal-animation.ng-enter {
  -webkit-transition: 0.3s linear all;
  /* Safari/Chrome */
  transition: 0.3s linear all;
  /* All other modern browsers and IE10+ */
  opacity: 0;
}

/******combine both CSS classes together to avoid any CSS-specificity conflicts******/
.reveal-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 10px 0px 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=styles.css.map */
