/**********COLORS**********/
body {
  -webkit-font-smoothing: antialiased;
}

/********HOME PARTIAL*******/
.header h1 a {
  text-decoration: none;
  color: #ffffff;
}
.header h1 a:hover, .header h1 a:visited {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  color: #ffffff;
}
.footer p {
  font-style: oblique;
}

.welcome {
  font-size: 4.5em;
  letter-spacing: 0.07em;
  color: #ffffff;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.cta_text {
  font-size: 2em;
  color: #ffffff;
}

.cta {
  border: none;
  outline: 2px solid white;
  background: none;
  font-size: 2.5em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.cta:hover {
  background: rgba(44, 45, 82, 0.5);
}
.cta a {
  text-decoration: none;
  color: #ffffff;
}
.cta a:hover, .cta a:visited {
  color: #ffffff;
  text-decoration: none;
}

/********EVENTS PARTIAL*******/
.events_wrapper {
  background: #AEB7E0;
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 400;
}
.events_wrapper header div p {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
  color: #ffffff;
}
.events_wrapper header div:nth-child(1) p {
  font-size: 1em;
}
.events_wrapper header div:nth-child(2) p:nth-child(1) {
  font-size: 4em;
  text-align: center;
}
.events_wrapper header div:nth-child(2) p:nth-child(2) {
  font-size: 1.8em;
  text-align: center;
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 400;
}
.events_wrapper header .profile_icon span i {
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.events_wrapper header .profile_icon span i:hover {
  color: #AEB7E0;
}
.events_wrapper header i.fa-plus {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.events_wrapper header i.fa-plus:hover {
  color: #AEB7E0;
}
.events_wrapper .add_event_link {
  background: #AEB7E0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.events_wrapper .add_event_link:hover {
  background: #8B92B2;
}
.events_wrapper .add_event_link p {
  color: #ffffff;
  text-transform: uppercase;
}
.events_wrapper h3 {
  color: #ffffff;
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 600;
}
.events_wrapper .create_event {
  cursor: pointer;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
.events_wrapper .quote div p {
  color: #ffffff;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 45px;
  letter-spacing: 1.5px;
}
.events_wrapper .form_events_wrapper {
  background: rgba(133, 149, 219, 0.95);
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}
.events_wrapper .form_events_wrapper p {
  text-align: right;
}
.events_wrapper .form_events_wrapper p i {
  color: #ffffff;
  cursor: pointer;
}
.events_wrapper .comments {
  background: #f5f5f5;
  border-radius: 10px;
}
.events_wrapper .comments li {
  list-style-type: none;
}
.events_wrapper .user_name_msg {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 600;
}
.events_wrapper .msg_body {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 500;
}
.events_wrapper span.date_time {
  font-size: 0.8em;
  color: #8E8A8A;
  font-weight: 550;
  line-height: 25px;
}
.events_wrapper textarea#event_textarea {
  border: none;
  border-radius: 10px;
  padding: 12px;
}
.events_wrapper .panel-heading h4 a {
  text-decoration: none;
}
.events_wrapper .panel-heading h2 {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
  font-size: 3em;
  text-transform: uppercase;
  color: #ffffff;
}
.events_wrapper .event_title {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.events_wrapper .event_info {
  font-size: 2em;
}

/********USER PARTIAL*******/
.user_profile {
  background: #AEB7E0;
}
.user_profile .logo {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.user_profile .logo:hover {
  color: #AEB7E0;
}
.user_profile .row.user_header .personal_info {
  color: #ffffff;
}
.user_profile .row.user_header img.profile_picture {
  border: 5px solid #ffffff;
  border-radius: 5px;
}
.user_profile .row.user_header .edit p {
  padding-top: 5px;
}
.user_profile .row.user_header .comments_made p.comment_paragraphs {
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1.3px;
  font-size: 1.3em;
  color: white;
}
.user_profile .user_profile_info i {
  color: #ffffff;
}
.user_profile .social_icons p i {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.user_profile .social_icons i.facebook:hover {
  color: #3b5998;
}
.user_profile .social_icons i.twitter:hover {
  color: #4099FF;
}
.user_profile .social_icons i.linkedin:hover {
  color: #007bb6;
}
.user_profile .social_icons i.envelope:hover {
  color: #0072b1;
}
.user_profile p.events_link {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'SegoeUILight', Arial, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.user_profile p.events_link a {
  text-decoration: none;
  color: #ffffff;
}
.user_profile .events_link:hover {
  background: rgba(174, 183, 224, 0.7);
}
.user_profile p.close_form {
  color: #000;
  cursor: pointer;
}
.user_profile .edit_profile {
  background: rgba(133, 149, 219, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
}
.user_profile .comments_notice p:nth-child(1) {
  font-size: 1.7em;
}
.user_profile .comments_notice p:nth-child(2) {
  font-size: 1.2em;
}
.user_profile .user_info_texts {
  background: #AEB7E0;
}
.user_profile .user_profile + footer {
  background: #AEB7E0;
}
.user_profile .user_profile + footer p {
  color: black;
}

/********DETAILS PARTIAL*******/
.event_details_wrapper {
  background: #AEB7E0;
}
.event_details_wrapper .event_details h1 {
  text-transform: uppercase;
}
.event_details_wrapper .event_details p {
  font-size: 1.8em;
}
.event_details_wrapper .event_details p span {
  text-transform: uppercase;
  font-size: 1.1em;
}

.event_details_wrapper + footer {
  background: #AEB7E0;
}

/********GLOBAL*******/
html, body {
  height: 100%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container_wrapper {
  min-height: 100%;
  height: 100%;
  position: relative;
}

/********HOME TEMPLATE*******/
.home_wrapper {
  height: 100%;
  position: relative;
}

.header {
  margin-top: 0;
  padding: 15px 20px;
}

.header h1 {
  margin: 15px 0 0;
  text-align: center;
}

.footer {
  width: 100%;
  padding: 15px;
  position: absolute;
  bottom: 0px;
  padding: 15px;
}
.footer p {
  text-align: center;
  margin-bottom: 0px;
}

.welcome {
  margin-top: 3%;
  margin-bottom: 5%;
  text-align: center;
}

.cta_text {
  margin-bottom: 9.5%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.cta {
  padding: 20px 80px;
}

@media screen and (max-width: 1024px) {
  .welcome {
    margin-top: 15%;
  }
}
@media screen and (max-width: 800px) {
  .welcome {
    margin-top: 10%;
  }

  .cta_text {
    margin-bottom: 12%;
  }
}
@media screen and (max-width: 768px) {
  .welcome {
    margin-top: 15%;
    margin-bottom: 10%;
    font-size: 3.8em;
  }

  .cta_text {
    margin-bottom: 30%;
    font-size: 2em;
  }
}
@media screen and (max-width: 600px) {
  .welcome {
    font-size: 50px;
  }

  .cta_text {
    margin-bottom: 25%;
    margin-top: 15%;
    font-size: 1.9em;
  }
}
@media screen and (max-width: 480px) {
  .header {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .header h1 {
    font-size: 30px;
  }

  .welcome {
    margin-top: 7%;
    margin-bottom: 5%;
    font-size: 30px;
  }

  .cta_text {
    margin-bottom: 5.5%;
    margin-top: 5%;
    font-size: 1.2em;
  }

  .cta {
    font-size: 1.8em;
    padding: 10px 50px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .header h1 {
    font-size: 30px;
  }

  .welcome {
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 30px;
  }

  .cta_text {
    margin-bottom: 20%;
    margin-top: 10%;
    font-size: 1.2em;
  }

  .cta {
    font-size: 1.8em;
    padding: 10px 50px;
  }
}
.events_wrapper header {
  position: relative;
  padding: 4% 12% 12%;
}
.events_wrapper header .icons {
  margin-bottom: 4%;
}
.events_wrapper header .icons i {
  color: #ffffff;
}
.events_wrapper header .icons i.fa-plus {
  text-align: right;
  position: absolute;
  top: 70px;
  right: 12%;
  margin-right: 20px;
}
.events_wrapper header .icons .profile_icon {
  text-align: center;
}
.events_wrapper header .add_event_link {
  position: absolute;
  top: 88px;
  right: 125px;
  padding: 20px 5px;
  width: 100px;
}
.events_wrapper header .add_event_link p {
  margin-bottom: 0;
}
.events_wrapper .quote div {
  padding-top: 60px;
  padding-bottom: 60px;
}
.events_wrapper .quote div p {
  text-align: center;
}
.events_wrapper .quote div span {
  display: block;
  text-align: right;
  font-style: oblique;
  width: 85.5%;
  color: #ffffff;
  font-size: 2em;
}
.events_wrapper .events {
  width: 100%;
  padding: 0px;
}
.events_wrapper .events .form_events_wrapper {
  position: fixed;
  top: 2%;
  left: 25%;
  z-index: 100;
  width: 50%;
  padding: 20px;
}
.events_wrapper .events .events_form {
  width: 500px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 510px) {
  .events_wrapper .events .events_form {
    width: 100%;
  }
}
.events_wrapper .events .events_form textarea#event_textarea {
  width: 100%;
  height: 200px;
  max-width: 460px;
  max-height: 250px;
  margin-bottom: 20px;
}
.events_wrapper .events .events_form select {
  width: 100%;
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  cursor: pointer;
}
.events_wrapper .events .events_form input.add_event {
  width: 100%;
  margin-bottom: 10px;
}
.events_wrapper .events .event_day {
  margin-top: 0px;
}
.events_wrapper .events .event_day .panel-heading {
  padding: 0;
  margin: 0;
}
.events_wrapper .events .event_day .panel-heading h2 {
  text-align: center;
}
.events_wrapper .events .event_day .event_background {
  padding-top: 100px;
  padding-bottom: 100px;
}
.events_wrapper .events .event_day .accordion_open {
  padding: 10px;
}
.events_wrapper .events .event_day .panel-collapse.collapsing {
  padding: 0px;
}
.events_wrapper .events .event_day .panel-collapse.collapsing .panel-body {
  border-top: none;
  padding: 20px;
}
.events_wrapper .events .event_day .panel-collapse.collapse.in {
  padding: 0px;
}
.events_wrapper .events .event_day .panel-collapse.collapse.in .panel-body {
  border-top: none;
  padding: 20px;
}
.events_wrapper .events .event_day div {
  padding: 80px 0px;
}
.events_wrapper .events .event_day .event_title {
  float: right;
}
.events_wrapper .events .event_day .events_list {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.events_wrapper .accordion_events {
  margin-top: 0px;
  padding-top: 0px;
}
.events_wrapper h3 {
  margin-left: 9%;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.events_wrapper .comments_wrapper {
  margin-top: 100px;
}
.events_wrapper .comments {
  width: 80%;
  height: 500px;
  overflow: scroll;
  padding: 17px 17px 0px;
  margin: 10px auto 0px;
}
.events_wrapper .comments .user_comment {
  margin-bottom: 10px;
  padding: 25px 15px 25px 0px;
  border-radius: 5px;
}
.events_wrapper .comments ul {
  padding-left: 0px;
  margin-bottom: 0px;
  overflow: hidden;
}
.events_wrapper .comments li {
  margin-bottom: 13px;
}
.events_wrapper .comments li .msg_body {
  width: 90%;
  float: left;
}
.events_wrapper .comments #message_input {
  height: 45px;
  display: inline-block;
  width: 88%;
  margin-left: 3px;
}
.events_wrapper .comments .user_name_msg {
  margin-bottom: 2px;
}
.events_wrapper .comments .date_time {
  margin-left: 15px;
}
.events_wrapper .comments .fb_image {
  width: 45px;
  float: left;
  margin-right: 10px;
}
.events_wrapper footer {
  padding: 20px;
}
.events_wrapper footer .footer {
  position: static;
}

/********USERS PARTIAL*******/
.user_profile {
  min-height: 100%;
  position: relative;
}
.user_profile .logo {
  text-align: center;
}
.user_profile .row.user_header {
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 40px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.user_profile .row.user_header .personal_info {
  margin-top: 100px;
}
.user_profile .row.user_header .personal_info h1 {
  margin-top: 0px;
}
.user_profile .row.user_header .personal_info .personal_info_data {
  float: left;
  padding-left: 10px;
  padding-top: 30px;
  position: relative;
}
.user_profile .row.user_header .personal_info .personal_info_data p {
  font-size: 20px;
  margin-bottom: 10px;
}
.user_profile .row.user_header .personal_info .personal_info_data p:last-child {
  margin-bottom: 0px;
}
.user_profile .row.user_header img.profile_picture {
  width: 130px;
  float: left;
}
.user_profile .row.user_header .comments_made {
  padding-top: 100px;
  clear: both;
  width: 70%;
}
.user_profile .row.user_header .edit {
  clear: both;
  cursor: pointer;
}
.user_profile .row.user_header .edit p:hover {
  text-decoration: underline;
}
.user_profile .user_profile_info {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  background: cover;
  padding-right: 0;
  padding-left: 0px;
}
.user_profile .user_profile_info .user_info_texts {
  padding-left: 35px;
  margin-right: 0;
}
.user_profile .user_profile_info .social_icons {
  padding-top: 178px;
  padding-left: 234px;
}
.user_profile .user_profile_info .social_icons p {
  float: left;
  margin-right: 20px;
}
.user_profile .user_profile_info p.events_link {
  text-align: center;
  width: 44.5%;
  padding: 20px;
  margin-left: 233px;
  margin-top: 47px;
  color: white;
  font-size: 2em;
  border: 1px solid white;
  border-radius: 10px;
}
.user_profile .user_profile_info .user_info_texts {
  padding-top: 20px;
}
.user_profile .edit_profile {
  position: fixed;
  top: 9%;
  left: 25%;
  z-index: 10;
  width: 50%;
  padding: 20px;
}
.user_profile .edit_profile p.close_form {
  float: right;
  color: #ffffff;
}
.user_profile .edit_profile input {
  margin-bottom: 5px;
}
.user_profile .edit_profile textarea {
  width: 100%;
  max-width: 100%;
  height: 100px;
  max-height: 150px;
  margin-bottom: 5px;
  padding-left: 10px;
}
.user_profile .edit_profile .form_button {
  padding: 10px 20px;
  font-size: 1.2em;
}

.user_profile footer {
  padding: 20px;
}
.user_profile footer .footer {
  position: absolute;
  bottom: 60;
  left: 0;
  width: 100%;
}

/********DETAILS PARTIAL*******/
.event_details_wrapper {
  min-height: 100%;
}
.event_details_wrapper .event_details {
  height: 100%;
  width: 50%;
  margin: 0 auto;
}
.event_details_wrapper .event_details h1 {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 40px;
  text-align: center;
}
.event_details_wrapper .event_details p {
  margin-bottom: 30px;
}

.event_details_wrapper article + footer {
  padding: 20px;
}
.event_details_wrapper article + footer .footer {
  position: static;
}
.event_details_wrapper article + footer .footer p {
  color: black;
}

@font-face {
  font-family: 'SegoeUILight';
  src: url("http://static.squarespace.com/static/50abaaf7e4b09a617638422b/t/50d21b81e4b08b028a4868cf/1355946881950/segoe-ui-light.eot?#iefix") format("embedded-opentype"), url("http://static.squarespace.com/static/50abaaf7e4b09a617638422b/t/50d21b86e4b05f4ba8bed41f/1355946886233/segoe-ui-light.ttf") format("truetype");
}
.animate.ng-enter {
  -webkit-transition: 0.5s linear all;
  /* Chrome */
  transition: 0.5s linear all;
  opacity: 0;
}

.animate.ng-enter.animate.ng-enter-active {
  opacity: 1;
}

.reveal-animation.ng-enter {
  -webkit-transition: 0.3s linear all;
  /* Safari/Chrome */
  transition: 0.3s linear all;
  /* All other modern browsers and IE10+ */
  opacity: 0;
}

/******combine both CSS classes together to avoid any CSS-specificity conflicts******/
.reveal-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.add_event_link {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.add_event_link.ng-hide {
  opacity: 0;
}

.form_events_wrapper {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.form_events_wrapper.ng-hide {
  opacity: 0;
}

.events_form {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.events_form.ng-hide {
  opacity: 0;
}

.edit_profile {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.edit_profile.ng-hide {
  opacity: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 10px 0px 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/*# sourceMappingURL=styles.css.map */
