 <!-- CHAT MARKUP -->
<div class="events_wrapper">
	<header header-Background="images/students-walking.jpg" class="header_background">
		<div class="header">
			<p>THIS WEEK'S EVENTS ARE YOUR FIRST STEPS TOWARD A BRIGHT FUTURE</p>
			<p>Check events below and interact with other students,<br> professors, and staff in the comment area</p>
		</div>
	</header>

	<article class="events">
  		<section ng-if="userId == admin.id">
  			<p>ADMIN, CLICK TO ADD EVENTS</p>
	  		<p ng-show="notice" class="alert alert-danger animate" role="alert">{{ notice }}</p>
			<form ng-submit= "addEvent(new_event)" class="events_form">
				<select ng-model="new_event.day_selected" name="" class="" required>
					<option value="">Select a day</option>
					<option value="monday">monday</option>
					<option value="tuesday">tuesday</option>
					<option value="wednesday">wednesday</option>
					<option value="thursday">thursday</option>
					<option value="friday">friday</option>
				</select>
				<input ng-model="new_event.event_title" type="text" class="form-control add_event" required id="nameInput" placeholder="Event Title">
				<input ng-model="new_event.start_time" type="text" class="form-control add_event" required id="nameInput" placeholder="Starts at (i.e. 10 a.m.)">
				<input ng-model="new_event.end_time" type="text" class="form-control add_event" required id="nameInput" placeholder="Ends at (i.e. 11 a.m.)">
				<input ng-model="new_event.presenter" type="text" class="form-control add_event" required id="nameInput" placeholder="Presenter(s)">
				<input ng-model="new_event.address" type="text" class="form-control add_event" required id="nameInput" placeholder="Address">
				<input ng-model="new_event.map" type="text" class="form-control add_event" required id="nameInput" placeholder="Map url">
				<textarea style="display: block;" ng-model="new_event.description" name="description" id="event_textarea" required placeholder="Event Description"></textarea>
				<input style="display: block;" type="submit">
			</form>
		</section> <!-- ng-if -->
		<section class="accordion events" >
		  <accordion close-others="oneAtATime">
		    <accordion-group ng-repeat="event in events" class="animate event_day">
				    <accordion-heading>
					    <div event-Background="images/events{{$index + 1}}.jpg" class="event_background" >
					    	<h2>{{ event.$id }}</h2>
					    </div>
				    </accordion-heading>
				 <div class="accordion_open" ng-repeat="(id,info) in event">
				    <div class="events_list">
				    	<!-- <pre>{{$id|json}}</pre> -->
				    	<p class="event_info"><span>{{ info.start_time }}</span> - <span>{{ info.end_time }}</span><span class="event_title"><a href="#/events/{{ event.$id }}/{{ id }}">{{ info.event_title }}</a></span></p>	
				    </div>
			    </div>
		    </accordion-group>
		  </accordion>		
		</section> <!-- accordion events -->
		<section class="comments_wrapper">
			<h3>COMMENTS</h3>
			<section class="comments">
				<section class="user_comment">
					<span ng-show="currentUser">		
						<img class="fb_image" ng-src="{{ currentUser.facebook.cachedUserProfile.picture.data.url }}">
					</span>
					<input ng-model="msg" ng-keydown="addMessage($event)" type="text" class="form-control" id="message_input" placeholder="Add a comment">
				</section> <!-- class="user_comment" -->
				<section>
					<ul>
						<li ng-repeat="msg in messages.slice().reverse()" class="clearfix animate">
							<span ng-show="currentUser">
								<a href="{{ msg.link }}" target="_blank">
									<img class="fb_image" ng-src="{{ msg.picture }}">
								</a>
							</span>
						  <p class="user_name_msg">{{ msg.from }}<span class="date_time">{{ msg.date | date: 'h:mm:ss a | MM-dd-yy'}}</span></p>
						  <p class="msg_body">{{ msg.body }}</p>
						</li>
					</ul>
				</section>
			</section>	<!-- class="comments" -->
		</section> <!-- class="comments_wrapper" -->
	</article> <!-- .events -->
	<!-- <footer>
		<div class="footer">
			<p>CollegeAppEvents@2015</p>
		</div>
	</footer>	 -->
</div> <!-- events wrapper -->


